@font-face {
  font-family: poppins;
  src: url("../font/Poppins-Regular.ttf"); }

@font-face {
  font-family: aboda;
  src: url("../font/AGaramondPro-Regular.otf"); }

@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-Regular.ttf"); }

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  padding: 30px;
  font-size: 16px;
  background-color: #1f2032;
  font-family: Montserrat;
  color: #ffff; }
  @media screen and (max-width: 768px) {
    body {
      padding: 20px; } }
  @media screen and (max-width: 321px) {
    body {
      padding: 5px; } }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none;
  color: #ffff; }

li {
  list-style: none; }

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.heading_text {
  text-align: center;
  color: #ffff;
  font-weight: bolder;
  font-family: aboda;
  margin: 20px 0px; }

.banner {
  margin-bottom: 50px; }
  .banner-header {
    background-image: url("../assets/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    box-shadow: 0px 0px 20px #537895;
    display: flex;
    align-items: center;
    justify-content: center; }
    .banner-header-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      line-height: 2;
      position: relative;
      z-index: 9;
      font-family: poppins, sans-serif;
      color: #ffff; }
      @media screen and (max-width: 321px) {
        .banner-header-card h1 {
          text-align: center; } }
      .banner-header-card-img {
        border: 2px solid #537895;
        background-image: url("../assets/151314622_1584721031727752_8657890773798408670_n.jpg");
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 30px; }
    .banner-header::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #7f5a83;
      background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
      border-radius: 20px;
      filter: blur(50px);
      opacity: 0.4; }
  .banner-info {
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: #161828;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 2px 40px #537895; }
    .banner-info-menu {
      padding: 30px; }
      @media screen and (max-width: 768px) {
        .banner-info-menu {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px 50px; } }
      .banner-info-menu-item {
        font-size: 25px;
        font-family: poppins;
        position: relative;
        z-index: 9; }
        .banner-info-menu-item:hover {
          color: #d8bea5; }
        .banner-info-menu-item:not(:first-child) {
          margin-left: 80px; }
          @media screen and (max-width: 768px) {
            .banner-info-menu-item:not(:first-child) {
              margin-left: 0px;
              text-align: center; } }

.notifly {
  text-align: center;
  display: none; }

.about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px; }
  @media screen and (max-width: 768px) {
    .about {
      display: block; } }
  .about-info {
    padding: 5px; }
    .about-info-me {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      line-height: 1.8;
      font-family: poppins;
      font-size: 18px;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 50px;
      border-radius: 20px;
      background-color: #161828;
      box-shadow: 0px 0px 20px #ffff;
      line-height: 3;
      position: relative;
      transition: all 0.3s ease-in-out; }
      .about-info-me:hover {
        transform: translateX(20px); }
        .about-info-me:hover::after {
          background-color: #0cbaba;
          background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); }
      .about-info-me::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #7f5a83;
        background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        border-radius: 20px;
        box-shadow: 0px 0px 50px blue;
        filter: blur(20px); }
      .about-info-me > * {
        position: relative;
        z-index: 9; }
      .about-info-me i {
        color: #d8bea5;
        margin-right: 15px; }
      .about-info-me b {
        color: #d8bea5; }
    .about-info-skill {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      line-height: 1.8;
      font-family: poppins;
      font-size: 18px;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 50px;
      border-radius: 20px;
      background-color: #161828;
      box-shadow: 0px 0px 20px #ffff;
      line-height: 3;
      position: relative;
      transition: all 0.3s ease-in-out; }
      .about-info-skill i {
        color: #d8bea5;
        font-size: 25px;
        margin-right: 15px; }
      .about-info-skill p {
        font-size: 20px; }
      .about-info-skill:hover {
        transform: translateX(20px); }
        .about-info-skill:hover::after {
          background-color: #0cbaba;
          background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); }
      .about-info-skill::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #7f5a83;
        background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        border-radius: 20px;
        box-shadow: 0px 0px 50px blue;
        filter: blur(20px); }
      .about-info-skill > * {
        position: relative;
        z-index: 9; }
    .about-info-social {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
      line-height: 1.8;
      font-family: poppins;
      font-size: 40px;
      width: 100%;
      border-radius: 20px;
      border-radius: 20px;
      background-color: #161828;
      box-shadow: 0px 0px 20px #ffff;
      line-height: 3;
      position: relative;
      transition: all 0.3s ease-in-out; }
      .about-info-social > * {
        position: relative;
        z-index: 9;
        color: #000; }
      .about-info-social:hover {
        transform: translateX(20px); }
        .about-info-social:hover::after {
          background-color: #0cbaba;
          background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); }
        .about-info-social:hover a {
          color: #ffff; }
      .about-info-social::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #7f5a83;
        background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        border-radius: 20px;
        box-shadow: 0px 0px 50px blue;
        filter: blur(20px); }
    .about-info-download {
      border-radius: 20px;
      text-align: center;
      padding: 15px;
      font-weight: bolder;
      cursor: pointer;
      font-size: 30px;
      margin-top: 20px;
      background-color: #161828;
      box-shadow: 0px 0px 20px #ffff;
      transition: all 0.3s ease-in-out;
      position: relative; }
      .about-info-download > * {
        position: relative;
        z-index: 9; }
      .about-info-download::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #20bf55;
        background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
        border-radius: 20px;
        box-shadow: 0px 0px 50px blue;
        filter: blur(20px); }
  .about-project {
    padding: 20px;
    border-radius: 20px; }
    @media screen and (max-width: 768px) {
      .about-project {
        padding: 10px 0px; } }
    .about-project-edu {
      padding: 20px;
      line-height: 1.8;
      font-family: poppins;
      font-size: 25px;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 40px;
      background-color: #161828;
      box-shadow: 0px 0px 20px #537895;
      line-height: 3;
      position: relative;
      transition: all 0.3s ease-in-out; }
      .about-project-edu-item {
        font-size: 20px;
        list-style: disc;
        margin-left: 10%; }
      .about-project-edu-item:nth-child(2) {
        margin-left: 25%; }
      .about-project-edu-item:nth-child(3) {
        margin-left: 40%; }
      .about-project-edu-item:last-child {
        margin-left: 55%; }
      .about-project-edu-exp {
        padding: 0% 10%; }
        .about-project-edu-exp-item {
          font-size: 20px;
          list-style: square; }
      .about-project-edu > * {
        position: relative;
        z-index: 9; }
      .about-project-edu::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #537895;
        background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
        border-radius: 20px;
        filter: blur(30px); }
    .about-project-achiment {
      padding: 20px;
      line-height: 1.8;
      font-family: poppins;
      font-size: 20px;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 40px;
      background-color: #161828;
      box-shadow: 0px 0px 20px #537895;
      line-height: 2;
      position: relative;
      transition: all 0.3s ease-in-out; }
      @media screen and (max-width: 768px) {
        .about-project-achiment {
          padding: 0px; } }
      .about-project-achiment h1,
      .about-project-achiment p {
        margin: 20px 0px; }
      .about-project-achiment a {
        text-decoration: underline;
        font-size: 25px; }
      .about-project-achiment > * {
        position: relative;
        z-index: 9; }
      .about-project-achiment::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #537895;
        background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
        border-radius: 20px;
        opacity: 0.8; }
      .about-project-achiment .swiper-container {
        width: 100%;
        padding-bottom: 50px;
        text-align: center;
        font-family: aboda; }
      .about-project-achiment .swiper-slide {
        background-position: center;
        background-size: cover;
        margin-left: 40px;
        width: 35%;
        height: 40%;
        background-color: #161828;
        box-shadow: 0px 0px 20px #ffff;
        border-radius: 20px;
        position: relative;
        transition: all 0.3s ease-in-out; }
        @media screen and (max-width: 768px) {
          .about-project-achiment .swiper-slide {
            width: 90%;
            height: 100%;
            margin: 0px; } }
        .about-project-achiment .swiper-slide > * {
          position: relative;
          z-index: 9; }
        .about-project-achiment .swiper-slide a > img {
          position: relative;
          z-index: 9; }
        .about-project-achiment .swiper-slide::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #7f5a83;
          background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
          border-radius: 20px;
          box-shadow: 0px 0px 50px blue;
          filter: blur(50px); }
      .about-project-achiment .swiper-slide img {
        display: block;
        width: 100%;
        cursor: pointer; }
