.about {
    display              : grid;
    grid-template-columns: 1fr 3fr;
    grid-gap             : 20px;

    @media screen and (max-width: 768px) {
        display: block;
    }

    &-info {
        padding: 5px;

        &-me {
            display         : flex;
            flex-direction  : column;
            justify-content : center;
            padding         : 20px;
            line-height     : 1.8;
            font-family     : poppins;
            font-size       : 18px;
            width           : 100%;
            border-radius   : 20px;
            margin-bottom   : 50px;
            border-radius   : 20px;
            background-color: $dark-black-02;
            box-shadow      : 0px 0px 20px $white;
            line-height     : 3;
            position        : relative;
            transition      : all 0.3s ease-in-out;

            &:hover {
                transform: translateX(20px);

                &::after {
                    background-color: #0cbaba;
                    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
                }
            }

            &::after {
                content         : '';
                position        : absolute;
                top             : 0;
                left            : 0;
                width           : 100%;
                height          : 100%;
                background-color: #7f5a83;
                background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
                border-radius   : 20px;
                box-shadow      : 0px 0px 50px $blue;
                filter          : blur(20px);

            }

            &>* {
                position: relative;
                z-index : 9;
            }

            i {
                color       : $brown-light;
                margin-right: 15px;
            }

            b {
                color: $brown-light;
            }
        }

        &-skill {
            display         : flex;
            flex-direction  : column;
            justify-content : center;
            padding         : 20px;
            line-height     : 1.8;
            font-family     : poppins;
            font-size       : 18px;
            width           : 100%;
            border-radius   : 20px;
            margin-bottom   : 50px;
            border-radius   : 20px;
            background-color: $dark-black-02;
            box-shadow      : 0px 0px 20px $white;
            line-height     : 3;
            position        : relative;
            transition      : all 0.3s ease-in-out;

            i {
                color       : $brown-light;
                font-size   : 25px;
                margin-right: 15px;
            }

            p {
                font-size: 20px;
            }

            &:hover {
                transform: translateX(20px);

                &::after {
                    background-color: #0cbaba;
                    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
                }
            }

            &::after {
                content         : '';
                position        : absolute;
                top             : 0;
                left            : 0;
                width           : 100%;
                height          : 100%;
                background-color: #7f5a83;
                background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
                border-radius   : 20px;
                box-shadow      : 0px 0px 50px $blue;
                filter          : blur(20px);

            }

            &>* {
                position: relative;
                z-index : 9;
            }
        }

        &-social {
            display         : flex;
            align-items     : center;
            justify-content : space-around;
            padding         : 20px;
            line-height     : 1.8;
            font-family     : poppins;
            font-size       : 40px;
            width           : 100%;
            border-radius   : 20px;
            border-radius   : 20px;
            background-color: $brown-light;
            box-shadow      : 0px 0px 20px $white;
            line-height     : 3;
            position        : relative;
            transition      : all 0.3s ease-in-out;

            &>* {
                position: relative;
                z-index : 9;
                color   : $brown-light;

            }

            &:hover {
                transform: translateX(20px);

                &::after {
                    background-color: #0cbaba;
                    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
                }

                a {
                    color: $white;
                }
            }

            &::after {
                content         : '';
                position        : absolute;
                top             : 0;
                left            : 0;
                width           : 100%;
                height          : 100%;
                background-color: #7f5a83;
                background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
                border-radius   : 20px;
                box-shadow      : 0px 0px 50px $blue;
                filter          : blur(20px);

            }
        }

        &-download {
            border-radius   : 20px;
            text-align      : center;
            padding         : 15px;
            font-weight     : bolder;
            cursor          : pointer;
            font-size       : 30px;
            margin-top      : 20px;
            background-color: $dark-black-02;
            box-shadow      : 0px 0px 20px $white;
            transition      : all 0.3s ease-in-out;
            position        : relative;

            &>* {
                position: relative;
                z-index : 9;
            }

            &::after {
                content         : '';
                position        : absolute;
                top             : 0;
                left            : 0;
                width           : 100%;
                height          : 100%;
                background-color: #20bf55;
                background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
                border-radius   : 20px;
                box-shadow      : 0px 0px 50px $blue;
                filter          : blur(20px);
            }
        }
    }

    &-project {
        padding      : 20px;
        border-radius: 20px;

        @media screen and (max-width:768px) {
            padding: 10px 0px;
        }

        &-edu {
            padding         : 20px;
            line-height     : 1.8;
            font-family     : poppins;
            font-size       : 25px;
            width           : 100%;
            border-radius   : 20px;
            margin-bottom   : 40px;
            background-color: $dark-black-02;
            box-shadow      : 5px 0px 100px #537895;
            line-height     : 3;
            position        : relative;
            transition      : all 0.3s ease-in-out;

            &-item {
                font-size  : 20px;
                list-style : disc;
                margin-left: 10%;
                i {
                    color: $brown-light;
                }
            }

            &-exp {
                padding: 0% 10%;

                &-item {
                    font-size : 20px;
                    list-style: square;
                    i {
                        color: $brown-light;
                    }
                }
            }

            &>* {
                position: relative;
                z-index : 9;
            }

            &::after {
                content         : '';
                position        : absolute;
                top             : 0;
                left            : 0;
                width           : 100%;
                height          : 100%;
                background-color: #4c4177;
                background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
                border-radius   : 20px;
                filter          : blur(80px);
            }

        }

        &-achiment {
            padding         : 20px;
            line-height     : 1.8;
            font-family     : poppins;
            font-size       : 25px;
            width           : 100%;
            border-radius   : 20px;
            margin-bottom   : 40px;
            background-color: $dark-black-02;
            box-shadow      : 0px 0px 20px #537895;
            line-height     : 2;
            position        : relative;
            transition      : all 0.3s ease-in-out;
            

            @media screen and (max-width:768px) {
                padding: 0px;
            }

            h1,
            p {
                margin: 20px 0px;
            }

            a {
                text-decoration: underline;
                font-size      : 25px;
            }

            &>* {
                position: relative;
                z-index : 9;
            }

            &::after {
                content         : '';
                position        : absolute;
                top             : 0;
                left            : 0;
                width           : 100%;
                height          : 100%;
                background-color: #4c4177;
                background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
                border-radius   : 20px;
                filter          : blur(80px);
            }

            .swiper-container {
                width      : 100%;
                text-align : center;
                font-family: aboda;
            }

            .swiper-slide {
                background-position: center;
                background-size    : cover;
                margin-left        : 40px;
                width              : 35%;
                background-color   : $dark-black-02;
                margin-bottom      : 70px;
                box-shadow         : 0px 0px 20px $white;
                border-radius      : 20px;
                position           : relative;
                transition         : all 0.3s ease-in-out;

                @media screen and (max-width: 768px) {
                    width : 90%;
                    height: 100%;
                    margin: 0px;
                }

                &>* {
                    position: relative;
                    z-index : 9;
                }

                a>img {
                    position: relative;
                    z-index : 9;
                }

                &::after {
                    content         : '';
                    position        : absolute;
                    top             : 0;
                    left            : 0;
                    width           : 100%;
                    height          : 100%;
                    background-color: #7f5a83;
                    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
                    border-radius   : 20px;
                    box-shadow      : 0px 0px 50px $blue;
                    filter          : blur(50px);
                }
            }

            .swiper-slide img {
                display: block;
                width  : 100%;
                cursor : pointer;
            }
        }
    }
}