$dark-black   : #1f2032;
$dark-black-02:#161828;
$black        :#000;
$white        :#ffff;
$brown-light  :#d8bea5;
$blue         : blue;
$blue-light   :#537895;

@font-face {
    font-family: poppins;
    src        : url("../font/Poppins-Regular.ttf");
}

@font-face {
    font-family: aboda;
    src        : url("../font/AGaramondPro-Regular.otf");
}

@font-face {
    font-family: Montserrat;
    src        : url("../font/Montserrat-Regular.ttf");
}